@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";


@font-face {
  font-family: "ProximaNova, sans-serif";
  src: url("/fonts/ProximaNova-Regular.otf");
}


@theme{
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
  
}

* {
  /* Fonts ko blur/flicker hone se roke ga animations k doran */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}